/* 
    Created on : 07.01.2017, 6:52:04
    Author     : funtik
*/
.slider_zoom{
    -fx-background-color: -fx-focus-color;
}

.border {
    -fx-border-color: black;
    -fx-border-width: 2;
}

.rectangle {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-padding: 5;
}

.rectangle:hover{
    -fx-border-color: green;
}

.pointLeftTop:hover{
    -fx-cursor: nw-resize;
}
.pointLeftDown:hover{
    -fx-cursor: sw-resize;
}
.pointRightTop:hover{
    -fx-cursor: ne-resize;
}
.pointRightDown:hover{
    -fx-cursor: se-resize;
}

.arrow_point{
    -fx-border-color: black;
    -fx-border-width: 1;
}

.cell-rectangle .text-area:focused .content {
    -fx-background-color:
        -fx-control-inner-background,
        -fx-faint-focus-color,
        -fx-background;
}

.cell-rectangle .text-area .content {
    -fx-background-color:
        -fx-control-inner-background,
        -fx-faint-focus-color,
        -fx-background;
}

.cell-rectangle .text-area .scroll-bar:vertical:disabled {
    -fx-opacity: 0;
}







.t{
    -fx-background-color: black;
    -fx-border-color: black;
    -fx-border-width: 1
}

